@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-space-gradient {
  background: linear-gradient(180deg, #000020 0%, #000040 50%, #000080 100%);
  background-size: cover;
  background-position: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

.moon {
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}


@keyframes moonMove {
  0% {
    left: -100px; 
    top: 10%;
  }
  50% {
    top: 20%;
  }
  100% {
    left: calc(100vw - 100px); 
    top: 10%;
  }
}

.moon {
  animation: moonMove 30s linear infinite;
}
